body {
	font-family: Helvetica;
	font-size: 12px;
	color: #333;
	width: 600px;
	margin: 0 auto;
	background-color: #333;
}

canvas {
	border: 3px solid #fff;
}

#gameTitle {
	color: #fff;
	font-size: 3em;
	margin-bottom: 0;
	margin-top: 0.5em;
}
/*** To hide the cursor

* {cursor: none;}

 */

