body {
	font-family: Helvetica;
	font-size: 16px;
	color: #333;
	width: 600px;
	margin: 0 auto;
	background-color: #333;
}

canvas {
	border: 5px solid #fff;
}

#border {
	border: 5px solid #fff;
	width: 600px;
}

#gameTitle {
	color: #fff;
	font-size: 3em;
	margin-bottom: 0;
	margin-top: 1em;
}
